.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 58px;
}

.menu__item {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

  text-transform: uppercase;

  color: #F5F5F5;

  margin-top: 5px;

  cursor: pointer;
}

.language_switch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}

.language_switch .active {
  color: #F5F5F5;
  text-decoration: underline;
}

.language_switch .inactive {
  color: #A6A6A6;
}