.main_screen {
  margin-left: 130px;
  margin-right: 130px;

  position: relative;
  height: 702px;
}

.main_screen__line {
  position: absolute;
  border: 1px solid #282828;
}

.main_screen__line_top {
  width: calc(90% - 50px);
  height: 0px;
  left: 10%;
  top: 72px;
}

.main_screen__line_left {
  height: 210px;
  width: 0px;
  left: 0px;
  top: 72px;
}

.main_screen__line_right_top {
  height: 180px;
  width: 0px;
  right: 0px;
  top: 75px;
}

.main_screen__line_right_bottom {
  height: 190px;
  width: 0px;
  right: 0px;
  top: 455px;
}

.full_name {
  margin-top: 0px;
}

.image_back {
  background-image: url("../../images/main_back.png");
  background-size: cover;
  background-position: top;

  width: 410px;
  height: 702px;

  position: absolute;
  top: -58px;
  left: 153px;

  z-index: -1;
}

.prewiew_text {
  position: absolute;
  left: 302px;
  top: 160px;
}

.prewiew_text__small {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 84px;

  color: #A6A6A6;
}

.prewiew_text__large {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 600;
  font-size: 144px;
  line-height: 189px;

  /* identical to box height */

  color: #F5F5F5;
  margin-top: -10px;
}

.half_color {
  position: relative;
  display: inline-block;
  color: #a6a5a5;
}

.half_color:before {
  content: attr(id);
  color: #3d3d3d;
  position: absolute;
  top: 0;
  left: 0;
  height: 68%;
  overflow: hidden;
}

.quote {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;

  color: #e3e3e3;

  position: absolute;
  left: 585px;
  top: 465px;
}

.btn_to_portfolio {
  width: 319px;
  height: 63px;
  top: 639px;

  background: #F5F5F5;
  border: none;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;

  color: #121212;

  position: absolute;
  left: 585px;
  top: 580px;

  cursor: pointer;
}

.icons_social_media {
  position: absolute;
  right: -12px;
  top: 280px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.icons__item a img {
  width: 24px;
}

.flipped_over_text {
  transform: rotate(-90deg);

  position: absolute;
  left: -210px;
  top: auto;
  bottom: 260px;

  width: 600px;
}


.flipped_over_text__grey {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  line-height: 92px;

  color: #3D3D3D;
}

@media screen and (max-width: 1365px) {
  .prewiew_text {
    left: auto;
    right: 40px;
  }
}

@media screen and (max-width: 1330px) {
  .quote {
    left: auto;
    right: 40px;
  }
  .btn_to_portfolio {
    left: auto;
    right: 185px;
  }
}

@media screen and (max-width: 1300px) {
  .prewiew_text__small {
    font-size: 36px;
    line-height: 47px;
  }
  .prewiew_text__large {
    font-size: 82px;
    line-height: 108px;
  }
  .prewiew_text {
    right: 90px;
  }
}

@media screen and (max-width: 1060px) {
  .main_screen {
    height: 610px;
    margin-left: 55px;
    margin-right: 55px;
  }

  .flipped_over_text__grey {
    font-size: 64px;
    line-height: 84px;
  }

  .flipped_over_text {
    bottom: 178px;
  }

  .main_screen__line_left {
    height: 350px;
    left: -220px;
  }
}

@media screen and (min-width: 840px) {
  .flipped_over_text__mobile {
    display: none;
  }
}

@media screen and (max-width: 840px) {
  .flipped_over_text__desktop {
    display: none;
  }
  .main_screen {
    height: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .icons_social_media {
    right: 25px;
  }

  .main_screen__line_top {
    top: 42px;
    left: 190px;
    width: calc(100% - 270px);
  }

  .main_screen__line_right_top, .main_screen__line_right_bottom {
    right: 34px;
  }

  .main_screen__line_right_top {
    top: 135px;
    height: 120px;
  }

  .main_screen__line_right_bottom {
    height: 250px;
  }

  .image_back {
    right: 0;
    left: auto;
    width: 236px;
    height: 610px;
    background-position: -20px;
  }

  .quote {
    left: 22px;
    top: 580px;
    font-weight: 400;
    font-size: 17px;
    line-height: 120%;
  }
  
  .btn_to_portfolio {
    left: 22px;
    top: 660px;

    width: 227px;
    height: 45px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
  }

  .prewiew_text {
    right: auto;
    left: -160px;
    
    width: auto;
    max-width: none;

    transform: rotate(90deg);
    padding-left: 34px;
  }

  .flipped_over_text {
    left: auto;
    right: -80px;
    bottom: 416px;
  }

  .flipped_over_text__grey {
    font-weight: 500;
    font-size: 48px;
    line-height: 50px;
  }

  .prewiew_text__small {
    font-size: 42px;
  }

  .prewiew_text__large {
    font-size: 85px;
  }

  .main_screen__line_left {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .quote {
    font-size: 15px;
  }

  .btn_to {
    top: 650px;
    width: 202px;
    height: 36px;
    font-size: 16px;
    line-height: 25px;
  }
}